.frequency-input {
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #e6e4ff;
    width: 100%;
    height: 2.5rem;
    font-size: 1.4rem;
    margin: 0 1rem;
}

.frequency-dropdown-container {
    max-width: 16vw;
}
