<h3>{{'Cuttings.assemblyTitle' | translate}}</h3>
<div class="scroll-container">
<perfect-scrollbar>
    <form [formGroup]="assemblyForm" class="scroll-form">
        <table *ngIf="!isLoading" cdk-table [dataSource]="dataSource.items" class="table-standard" #table>

            <ng-container cdkColumnDef="unitId">
                <th cdk-header-cell *cdkHeaderCellDef>
                    <butor-form-field label="{{'Cuttings.unitName' | translate}}" cType='filter'>
                        <butor-form-input formControlName="unitId"></butor-form-input>
                    </butor-form-field>
                </th>
                <td cdk-cell *cdkCellDef="let row" [ngStyle]="{'color': row.isShowedButton ? 'rgba(0, 0, 0, 1)' : 'rgba(0, 0, 0, .3)' }">
                    <b>{{row.unitId}}</b>
                </td>
            </ng-container>

            <ng-container cdkColumnDef="orderId">
                <th cdk-header-cell *cdkHeaderCellDef>
                    <butor-form-field label="{{'Cuttings.orderName' | translate}}" cType='filter'>
                        <butor-form-input formControlName="orderId"></butor-form-input>
                    </butor-form-field>
                </th>
                <td cdk-cell *cdkCellDef="let row" [ngStyle]="{'color': row.isShowedButton ? 'rgba(0, 0, 0, 1)' : 'rgba(0, 0, 0, .3)' }">{{row.orderId}}</td>
            </ng-container>

            <ng-container cdkColumnDef="workingNr">
                <th cdk-header-cell *cdkHeaderCellDef>
                    <butor-form-field label="{{'Cuttings.workingNr' | translate}}" cType='filter'>
                        <butor-form-input formControlName="workingNr"></butor-form-input>
                    </butor-form-field>
                </th>
                <td cdk-cell *cdkCellDef="let row" [ngStyle]="{'color': row.isShowedButton ? 'rgba(0, 0, 0, 1)' : 'rgba(0, 0, 0, .3)' }"> {{row.workingNr}} </td>
            </ng-container>

            <ng-container cdkColumnDef="estimatedStartTime">
                <th cdk-header-cell *cdkHeaderCellDef>
                    <butor-form-field label="{{'Cuttings.estimatedStartTime' | translate}}" cType='filter'>
                        <ng-select [items]="estimatedStartDropdown" highlightColor="#9575cd" highlightTextColor="#fff"
                            formControlName="date" [clearable]="false" bindLabel="name" bindValue="toDate">
                        </ng-select>
                    </butor-form-field>
                </th>
                <td cdk-cell *cdkCellDef="let row" [ngStyle]="{'color': row.isShowedButton ? 'rgba(0, 0, 0, 1)' : 'rgba(0, 0, 0, .3)' }"> {{row.estimatedStartTime | date:'y.MM.dd. HH:mm'}} </td>
            </ng-container>

            <ng-container cdkColumnDef="estimatedProcessTime">
                <th cdk-header-cell *cdkHeaderCellDef>
                    <butor-form-field label="{{'Cuttings.estimatedProcessTime' | translate}}" cType='filter'>
                    </butor-form-field>
                </th>
                <td cdk-cell *cdkCellDef="let row" [ngStyle]="{'color': row.isShowedButton ? 'rgba(0, 0, 0, 1)' : 'rgba(0, 0, 0, .3)' }"> {{row.estimatedProcessTime | secToHourMinSec | date:'HH:mm:ss'}}
                </td>
            </ng-container>

            <ng-container cdkColumnDef="actualProcessTime">
                <th cdk-header-cell *cdkHeaderCellDef>
                    <butor-form-field label="{{'Cuttings.actualProcessTime' | translate}}" cType='filter'>
                    </butor-form-field>
                </th>
                <td cdk-cell *cdkCellDef="let row" [ngStyle]="{'color': row.isShowedButton ? 'rgba(0, 0, 0, 1)' : 'rgba(0, 0, 0, .3)' }"> {{row.actualProcessTime | secToHourMinSec | date:'HH:mm:ss'}} </td>
            </ng-container>

            <ng-container cdkColumnDef="workerName">
                <th cdk-header-cell *cdkHeaderCellDef>
                    <butor-form-field label="{{'Cuttings.workerName' | translate}}" cType='filter'>
                        <butor-form-input formControlName="workerName"></butor-form-input>
                    </butor-form-field>
                </th>
                <td cdk-cell *cdkCellDef="let row" [ngStyle]="{'color': row.isShowedButton ? 'rgba(0, 0, 0, 1)' : 'rgba(0, 0, 0, .3)' }"> <span
                        *ngFor="let item of row.workerName; let index = index;">{{item}}{{index === row.workerName.length - 1 ? '' : ', '}}</span>
                </td>
            </ng-container>

            <ng-container cdkColumnDef="clearFilter">
                <th cdk-header-cell *cdkHeaderCellDef> <a class="btns btns-icon-a" (click)="clearFilter()"><i
                            class="icon icon-clear"></i>{{'Cuttings.clearFilter' | translate}}</a> </th>
                <td cdk-cell *cdkCellDef="let row">
                    <button class="btn btn-primary-green" mat-button matRipple *ngIf="row.isShowedButton && !row.isStarted"
                        (click)="setProcessStatus(row.id)">START</button>
                    <button class="btn btn-primary-red" mat-button matRipple *ngIf="row.isShowedButton && row.isStarted"
                        (click)="setProcessStatus(row.id)">STOP</button>
                </td>
            </ng-container>

            <tr cdk-header-row
                *cdkHeaderRowDef="['unitId', 'orderId', 'workingNr', 'estimatedStartTime', 'estimatedProcessTime', 'actualProcessTime', 'workerName', 'clearFilter'];sticky:true;">
            </tr>

            <tr cdk-row
                *cdkRowDef="let row; columns: ['unitId', 'orderId', 'workingNr', 'estimatedStartTime', 'estimatedProcessTime', 'actualProcessTime', 'workerName', 'clearFilter']">
            </tr>

        </table>

        <mat-paginator [hidePageSize]="true" [length]="dataSource.totalCount" [pageSize]="dataSource.pageSize"
            [pageIndex]="dataSource.pageIndex"
            [ngStyle]="{'display': (!hasError &&  dataSource.items.length  > 0) ? 'block' : 'none' }" #paginator>
        </mat-paginator>

        <div *ngIf="!isLoading && hasError" class="no-data-row">{{ error }}</div>
        <div *ngIf="!isLoading && !hasError && dataSource.items.length === 0" class="no-data-row">{{'errorM.noRecord' | translate}}</div>

    </form>
</perfect-scrollbar>
</div>