<div class="container">
    <div *ngIf="!data" class="dialog-title">
        {{'StockedItems.Modal.newTitle' | translate}}
    </div>
    <div *ngIf="data" class="dialog-title">
        {{'StockedItems.Modal.editTitle' | translate}}
    </div>
    <form [formGroup]="newStockedItemForm">
        <butor-form-field label="{{'StockedItems.Modal.Code' | translate }}">
            <ng-select name="code" formControlName="codeId" [items]="codes" highlightColor="#9575cd"
                highlightTextColor="#fff" bindLabel="name" bindValue="id" [clearable]="false">
            </ng-select>
            <div *ngIf="submitted && f.codeId.errors" class="error">
                <div *ngIf="f.codeId.errors.required">{{'StockedItems.Modal.codeReq' | translate }}</div>
            </div>
        </butor-form-field>

        <butor-form-field label="{{'StockedItems.Modal.Cell' | translate }}">
            <ng-select name="cell" formControlName="cellId" [items]="cells" highlightColor="#9575cd"
                highlightTextColor="#fff" bindLabel="name" bindValue="id" [clearable]="false">
            </ng-select>
            <div *ngIf="submitted && f.cellId.errors" class="error">
                <div *ngIf="f.cellId.errors.required">{{'StockedItems.Modal.cellReq' | translate }}</div>
            </div>
        </butor-form-field>

        <butor-form-field label="{{'StockedItems.Modal.Amount' | translate }}">
            <butor-form-input name="amount" formControlName="amount" type="number"></butor-form-input>
            <div *ngIf="submitted && f.amount.errors" class="error">
                <div *ngIf="f.amount.errors.required">{{'StockedItems.Modal.amountReq' | translate }}</div>
            </div>
        </butor-form-field>
    </form>
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-end u-margin-top">
                <button class="btn btn-text-only u-margin-btn-right" mat-button matRipple
                    (click)="cancel()">{{'StockedItems.Modal.Cancel' | translate }}</button>
                <button class="btn btn-primary" mat-button matRipple
                    (click)="addNewStockedItem()">{{'StockedItems.Modal.Save' | translate }}</button>
            </div>
        </div>
    </div>
</div>