<div class="container">
  <div *ngIf="!id" class="dialog-title">
    {{'CncMachine.newTitle' | translate}}
  </div>
  <div *ngIf="id" class="dialog-title">
    {{'CncMachine.editTitle' | translate}}
  </div>
  <form [formGroup]="cncMachineForm" (ngSubmit)="onSubmit()">
    <butor-form-field label="{{'CncMachine.tableHeader.machineName' | translate}}">
      <butor-form-input name="machineName" formControlName="machineName"></butor-form-input>
      <div *ngIf="submitted && f.machineName.errors" class="input-error">
        <div *ngIf="f.machineName.errors.required">{{'Workstations.newWorkstation.nameReq' | translate}}</div>
      </div>
    </butor-form-field>
    <butor-form-field label="{{'CncMachine.sharedFolder' | translate}}">
      <butor-form-input name="sharedFolderPath" formControlName="sharedFolderPath"></butor-form-input>
      <div *ngIf="submitted && f.sharedFolderPath.errors" class="input-error">
        <div *ngIf="f.sharedFolderPath.errors.required">{{'Workstations.newWorkstation.sharedFolder' | translate}}</div>
      </div>
    </butor-form-field>
    <butor-form-field label="{{'CncMachine.tableHeader.serialNumber' | translate}}">
      <butor-form-input name="serialNumber" formControlName="serialNumber" type="number"></butor-form-input>
      <div *ngIf="submitted && f.serialNumber.errors" class="input-error">
        <div *ngIf="f.serialNumber.errors.required">{{'Workstations.newWorkstation.serialNumber' | translate}}</div>
      </div>
    </butor-form-field>
    <butor-form-field label="{{'CncMachine.tableHeader.yearOfManufacture' | translate}}">
      <butor-form-input name="yearOfManufacture" formControlName="yearOfManufacture" type="number"></butor-form-input>
      <div *ngIf="submitted && f.yearOfManufacture.errors" class="input-error">
        <div *ngIf="f.yearOfManufacture.errors.required">{{'Workstations.newWorkstation.yearOfManufacture' | translate}}</div>
      </div>
    </butor-form-field>
    <butor-form-field label="{{'CncMachine.tableHeader.softwareVersion' | translate}}">
      <butor-form-input name="softwareVersion" formControlName="softwareVersion" type="number"></butor-form-input>
      <div *ngIf="submitted && f.softwareVersion.errors" class="input-error">
        <div *ngIf="f.softwareVersion.errors.required">{{'Workstations.newWorkstation.softwareVersion' | translate}}</div>
      </div>
    </butor-form-field>
    <butor-form-field label="{{'CncMachine.tableHeader.code' | translate}}">
      <butor-form-input name="code" formControlName="code" type="number"></butor-form-input>
      <div *ngIf="submitted && f.code.errors" class="input-error">
        <div *ngIf="f.code.errors.required">{{'Workstations.newWorkstation.code' | translate}}</div>
      </div>
    </butor-form-field>
    <butor-form-field label="{{'CncMachine.tableHeader.brand' | translate}}">
      <ng-select name="brandId" formControlName="brandId" [items]="suppliers" highlightColor="#9575cd" highlightTextColor="#fff"
        bindLabel="name" bindValue="id" [clearable]="false">
      </ng-select>
      <div *ngIf="submitted && f.brandId.errors" class="input-error">
        <div *ngIf="f.brandId.errors.required">{{'Workstations.newWorkstation.brand' | translate}}</div>
      </div>
    </butor-form-field>
    <div class="d-flex justify-content-end">
      <button class="btn btn-text-only u-margin-btn-right" mat-button matRipple
        (click)="cancel()">{{'CncMachine.cancel' | translate}}</button>
      <button class="btn btn-primary" mat-button matRipple
        type="submit">{{'CncMachine.save' | translate}}</button>
    </div>
  </form>
</div>