<div class="forgot">
  <header>
    <h2>
      {{'login.error.reset' | translate}}
    </h2>
    <hr>
    <p *ngIf="forgotPassword">
      {{'login.error.forget' | translate}}
    </p>
  </header>
  <form #change="ngForm" [factoryMustMatch]="['passfirst','passcheck']"
  novalidate>
    <butor-form-field label="{{'register.Email' | translate}}" *ngIf="forgotPassword">
      <butor-form-input name="emailC" [(ngModel)]="email" type="email" required email #emailC="ngModel">
      </butor-form-input>
      <span class="error"
        *ngIf="!emailC.valid && (emailC.dirty || emailC.touched) && emailC.errors.required">{{'login.error.emailReq' | translate}}</span>
      <div *ngIf="emailC.invalid">
        <span class="error" *ngIf="emailC.errors.email">{{'login.error.emailForm' | translate}}</span>
      </div>
    </butor-form-field>
    <butor-form-field label="{{'register.Password' | translate}}" *ngIf="!forgotPassword">
      <butor-form-input name="passfirst" [(ngModel)]="password" type="password" required
        pattern='^(?:(?=.*[a-z])(?:(?=.*[A-Z])(?=.*[\d\W])|(?=.*\W)(?=.*\d))|(?=.*\W)(?=.*[A-Z])(?=.*\d)).{6,}$'
        #passfirst="ngModel"></butor-form-input>
      <span class="error" *ngIf="!passfirst.valid && (passfirst.dirty || passfirst.touched)">{{'login.error.password' | translate}}</span>
    </butor-form-field>
    <butor-form-field label="{{'register.Password' | translate}}" *ngIf="!forgotPassword">
      <butor-form-input name="passcheck" [(ngModel)]="passwordcheck" type="password" required
        pattern='^(?:(?=.*[a-z])(?:(?=.*[A-Z])(?=.*[\d\W])|(?=.*\W)(?=.*\d))|(?=.*\W)(?=.*[A-Z])(?=.*\d)).{6,}$'
        #passcheck="ngModel"></butor-form-input>
      <span class="error"
        *ngIf="!passcheck.valid && (passcheck.dirty || passcheck.touched) && passcheck.errors.required">{{'login.error.password' | translate}}</span>
      <div *ngIf="passcheck.invalid">
        <span class="error" *ngIf="passcheck.errors.mustMatch">{{'login.error.passwordMatch' | translate}}</span>
      </div>
  
    </butor-form-field>
    <div class="d-flex  justify-content-end">
      <button mat-button class="btn btn-primary" type="button"
        [disabled]="(!change.valid)" (click)="changePassword()">{{'login.send' | translate}}</button>
    </div>
  </form>
  </div>
