<div class="d-flex justify-content-between u-margin-top">
  <h3>{{'Cameras.title' | translate}}</h3>
  <div class="d-flex justify-content-between">
    <button mat-button matRipple class="btn btn-primary u-margin-btn-right" (click)="addNewCamera()"
      *factoryClaims="claimPolicyEnum[21]">{{'Cameras.addNewCamera' | translate}}
    </button>
  </div>
</div>

<div class="scroll-container">
  <perfect-scrollbar>
    <form [formGroup]="cameraForm" class="scroll-form">
      <table cdk-table [dataSource]="dataSource.items" class="table-standard" #table>
        <!-- Name Definition -->
        <ng-container cdkColumnDef="name">
          <th cdk-header-cell *cdkHeaderCellDef>
            <butor-form-field label="{{'Cameras.name' | translate}}" cType='filter'>
              <butor-form-input name="name" formControlName="name"></butor-form-input>
            </butor-form-field>
          </th>
          <td cdk-cell *cdkCellDef="let row"> {{row.name}} </td>
        </ng-container>
        <!-- Optimal Crew Definition -->
        <ng-container cdkColumnDef="ipAddress">
          <th cdk-header-cell *cdkHeaderCellDef>
            <butor-form-field label="{{'Cameras.ip' | translate}}" cType='filter'>
              <butor-form-input name="ipAddress" formControlName="ipAddress" type="number"></butor-form-input>
            </butor-form-field>
          </th>
          <td cdk-cell *cdkCellDef="let row"> {{row.ipAddress}} </td>
        </ng-container>
        <!-- Type Definition -->
        <ng-container cdkColumnDef="type">
          <th cdk-header-cell *cdkHeaderCellDef>
            <butor-form-field label="{{'Cameras.type' | translate}}" cType='filter'>
              <butor-form-input name="type" formControlName="type" type="number"></butor-form-input>
            </butor-form-field>
          </th>
          <td cdk-cell *cdkCellDef="let row"> {{row.type}} </td>
        </ng-container>
        <!-- clearFilter Definition -->
        <ng-container cdkColumnDef="clearFilter">
          <th cdk-header-cell *cdkHeaderCellDef> <a class="btns btns-icon-a" (click)="clearFilter()"><i
                class="icon icon-clear"></i>{{'Cameras.clearFilter' | translate}}</a> </th>
          <td cdk-cell *cdkCellDef="let row">
            <factory-btn-hamburger>
              <factory-btn-hamburger-inside textColor="#4D41FF" iconClass="icon icon-edit"
                [buttonText]="translate.instant('Workstations.edit')" (click)="this.editCamera(row.id)"
                *factoryClaims="claimPolicyEnum[21]"></factory-btn-hamburger-inside>
              <factory-btn-hamburger-inside textColor="#FF4141" iconClass="icon icon-delete"
                [buttonText]="translate.instant('Workstations.delete')" (click)="deleteButton(row.id)"
                *factoryClaims="claimPolicyEnum[22]"></factory-btn-hamburger-inside>
            </factory-btn-hamburger>
          </td>
        </ng-container>

        <!-- Header and Row Declarations -->
        <tr cdk-header-row *cdkHeaderRowDef="['name', 'ipAddress', 'type', 'clearFilter'];sticky:true;">
        </tr>

        <tr cdk-row *cdkRowDef="let row; columns: ['name', 'ipAddress', 'type', 'clearFilter']"
          (click)="editCamera(row.id)">
        </tr>

      </table>

      <mat-paginator [hidePageSize]="true" [length]="dataSource.totalCount" [pageSize]="dataSource.pageSize"
        [pageIndex]="dataSource.pageIndex"
        [ngStyle]="{'display': (!hasError &&  dataSource.items.length  > 0) ? 'block' : 'none' }" #paginator>
      </mat-paginator>

      <div *ngIf="hasError" class="no-data-row">{{ error }}</div>
      <div *ngIf="!hasError && dataSource.items.length === 0" class="no-data-row">{{'errorM.noRecord' | translate}}</div>

    </form>
    </perfect-scrollbar>
</div>