.login {
    display: flex;
    justify-content: center;
    margin-bottom: 10.7rem;

    &-create {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h3 {
            font-size: 1.8rem;
            font-weight: 700;
            letter-spacing: 0;
            color: rgba(0, 0, 0, 1);
            opacity: 1;
            text-transform: capitalize;

        }

        button {
            margin-top: 2.3rem;

        }
    }

    &-container {
        width: 43rem;

        &-header {
            display: flex;
            justify-content: center;
            padding-bottom: 4.3rem;
            text-transform: uppercase;
        }
    }

    &-btn {
        display: flex;
        justify-content: center;
        margin-top: 3.7rem;
    }

    &-header{
        font-size: 1.8rem;
        font-weight: 700;
        letter-spacing: 0;
        color: rgba(0, 0, 0, 1);
        opacity: 1;
    }
}

hr {
    margin: 3.6rem 0;
}

:host/deep/ .input-white {

    background-color: white !important;
}