@import "../../../../scss/variables";
.forgot {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

header {
    padding-bottom: 1rem;
    p{
        font-size: 1.2rem;
    }
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid $table-border-color;
    padding: 0
}