.image {

    &-slider {
        display: flex;
        flex-direction: column;

        &-up,
        &-down {
            border: none;
            background-color: transparent;
            width: fit-content;
            outline: none;
        }

        &-button {
            display: flex;
            justify-content: center;

            button {
                i {
                    font-size: 0.8rem;
                }
            }
        }

    }

    &-list {
        display: flex;
        flex-direction: column;
        align-content: space-around;

        &-elements {
            list-style-type: none;
            padding-bottom: 1rem;
        }

        &-image {
            cursor: pointer;
            width: 10.0rem;
            height: 10.0rem;
            border-radius: 0.5rem;
            background-color: rgba(229, 229, 229, 1);
        }
    }


    &-viewer {
        box-shadow: 0px 0px 35px #00000017;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 5px;
        width: 51rem;
        height: 51rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 7.5rem;
        padding: 2rem;

        &-image {
            max-width: 100%;
            max-height: 100%;
        }
    }

    &-container {
        display: flex;
    }
}