.background-home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 101vh;
    background: transparent linear-gradient(241deg, #9158DB 0%, #4D41FF 100%) 0% 0% no-repeat padding-box;
    margin: -1.5rem -4rem 0px -4rem;
}

