<!-- 
<a [ngClass]="{'container__menu-a':isMenuOpen,'container__menu-a--close':!isMenuOpen}"
routerLink="/admin/materials/worktops" routerLinkActive="active"  [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
<i class="icon icon-materials_active"></i>
<span>{{'Menu.Admin.Materials.Title' | translate}}</span>
<i [ngClass]="{'icon-blackarrow_black_down':openMenu,'icon-blackarrow_black_up':!openMenu}"
    [ngStyle]="{'display':isMenuOpen ? 'block':'none'} " class="icon"
    style="font-size: 0.5rem"></i>

</a>
<mat-menu #menu="matMenu" class="hamburger-menu-list-sml">
        <ul class="container__menu-ul-open">
            <li class="container__menu-li-open">
                <a class="container__menu-a-open" routerLink="/admin/materials/worktops"
                    routerLinkActive="active">
                    <span>{{'Menu.Admin.Materials.WorkTop' | translate}}</span>
                </a>
    
            </li>
            <li class="container__menu-li-open">
                <a class="container__menu-a-open" routerLink="/admin/materials/decorboards"
                    routerLinkActive="active">
                    <span>{{'Menu.Admin.Materials.Decorboards' | translate}}</span>
                </a>
    
            </li>
            <li class="container__menu-li-open">
                <a class="container__menu-a-open" routerLink="/admin/materials/foils"
                    routerLinkActive="active">
                    <span>{{'Menu.Admin.Materials.Foils' | translate}}</span>
                </a>
    
            </li>
            <li class="container__menu-li-open">
                <a class="container__menu-a-open" routerLink="/admin/materials/accessories"
                    routerLinkActive="active">
                    <span>{{'Menu.Admin.Materials.Accessories' | translate}}</span>
                </a>
    
            </li>
            <li class="container__menu-li-open">
                <a class="container__menu-a-open" routerLink="/admin/materials/appliances"
                    routerLinkActive="active">
                    <span>{{'Menu.Admin.Materials.Appliances' | translate}}</span>
                </a>
    
            </li>
        </ul>
</mat-menu> -->