.button-container-padding{
  padding: 2rem 2rem 1.5rem 2rem;
}

.big-container-padding {
  padding: 0 3rem 4rem 2.7rem;
}

.date-picker-container{
  max-width: 20rem;
}

:host /deep/ .contract-details-container{
  padding: 2.7rem;
  background-color: #F8F7FF;

  .contract-details-maingroup{
      font-size: 1.8rem;
      font-weight: 600;
      padding-bottom: 2.4rem;
  }

  .input-control{
      max-width: 9rem;
  }

  .u-padding-bottom{
      padding-bottom: 3rem;
  }

  .financial-name{
      font-weight: 600;
  }
}

.datepicker-input{
  border-radius: 6px;
  margin-bottom: 0;
  border: 1px solid #d6d6d6;
  background-color: #f8f8f8;
  width: 100%;
  font-family: "Poppins", sans-serif;
}



