.production {
    &__container {
        background-color: #ffff;
        padding: 1rem;
        border-radius: 5px;
        // border:1px solid #F8F7FF;
    }

    &-section {
        display: grid;
        grid-template-areas:
            "logo header header checked"
            "progress progress progress progress"
            "percentage . . .";
        grid-row-gap: 1rem;
        align-items: center;

        &-data_container {}

        &-header {
            grid-area: header;
            display: flex;
            justify-content: center;
            padding-right: 1rem;
            padding-left: 1rem;
            font-size: 2rem;

        }

        &-percentage {
            grid-area: percentage;
            padding-bottom: 1rem;
            padding-top: 1rem;
            display: flex;
            justify-content: flex-start;

        }

        mat-progress-bar {
            grid-area: progress;
        }
    }


}

.cuttings {
    color: rgba(92, 210, 108, 1);
}

.cnc {
    color: rgba(0, 186, 255, 1);
}

.edgbanding {
    color: rgba(255, 65, 65, 1);
}

.logo {
    grid-area: logo;
    font-size: 2rem;
    display: flex;
    justify-content: flex-start;
}

.checked {
    display: flex;
    justify-content: flex-end;
    grid-area: checked;
    font-size: 2rem;


}

.icon-check_circle {
    color: rgba(92, 210, 108, 1);

}

.icon-clear {
    color: rgba(255, 65, 65, 1);

}

h1 {
    padding-bottom: 2rem;
    white-space: nowrap;
}

/deep/ .mat-progress-bar-buffer {
    background-color: #F8F7FF;
}