.offer-form-price-sum-container{
    padding: 3rem 2.5rem;
    background-color: #F8F7FF;
    border: 1px solid #BFBFBF;

    .price-category-title{
        font-size: 1.5rem;
        font-weight: 600;
    }

    .offer-form-price-value{
        font-size: 1.5rem;
    }

    .offer-information{
        padding-top: 2.5rem;
        font-size: 1.3rem;
    }

    .total-price{
        font-size: 2.5rem;
        font-weight: 600;
    }

    .row{
        padding: 5px 0px;
    }
}

.services-container{
    padding: 3.5rem 2.5rem;
    .row{
        padding: 1rem 0px;
        align-items: baseline;
    }
}

.btn-margin{
    margin-right: 2rem;
}

.shipping-title{
    font-size: 1.5rem;
    font-weight: 600;
}
