<h3>{{'Cargo.title' | translate}}</h3>

<div class="scroll-container">
  <perfect-scrollbar>
    <form [formGroup]="cargoFiltersForm" class="scroll-form">

      <table cdk-table [dataSource]="dataSource.items" class="table-standard">

        <ng-container cdkColumnDef="cargoId">
          <th cdk-header-cell *cdkHeaderCellDef>
            <butor-form-field label="{{'Cargo.tableHeader.cargoId' | translate}}" cType='filter'>
              <div>
                <butor-form-input name="cargoId" formControlName="cargoId"></butor-form-input>
              </div>
            </butor-form-field>
          </th>
          <td cdk-cell *cdkCellDef="let row"> <b>{{row.cargoId}}</b> </td>
        </ng-container>

        <ng-container cdkColumnDef="status">
          <th cdk-header-cell *cdkHeaderCellDef>
            <butor-form-field label="{{'Cargo.tableHeader.status' | translate}}" cType='filter'>
              <ng-select name="status" formControlName="status" [items]="statusDropdown" highlightColor="#9575cd"
                highlightTextColor="#fff" bindLabel="name" bindValue="id" [clearable]="false">
              </ng-select>
            </butor-form-field>
          </th>
          <td cdk-cell *cdkCellDef="let row">
            <span class="cargo-status">{{row.status}}</span>
          </td>
        </ng-container>

        <ng-container cdkColumnDef="created">
          <th cdk-header-cell *cdkHeaderCellDef>
            <butor-form-field label="{{'Cargo.tableHeader.created' | translate}}" cType='filter'>
            </butor-form-field>
          </th>
          <td cdk-cell *cdkCellDef="let row"> {{row.created}} </td>
        </ng-container>

        <ng-container cdkColumnDef="supplier">
          <th cdk-header-cell *cdkHeaderCellDef>
            <butor-form-field label="{{'Cargo.tableHeader.supplier' | translate}}" cType='filter'>
              <ng-select formControlName="supplier" [items]="supplierDropdown" highlightColor="#9575cd"
                highlightTextColor="#fff" bindLabel="name" bindValue="id" [clearable]="false">
              </ng-select>
            </butor-form-field>
          </th>
          <td cdk-cell *cdkCellDef="let row">
            {{row.supplier}}
          </td>
        </ng-container>

        <ng-container cdkColumnDef="bookedBy">
          <th cdk-header-cell *cdkHeaderCellDef>
            <butor-form-field label="{{'Cargo.tableHeader.bookedBy' | translate}}" cType='filter'>
              <butor-form-input formControlName="bookedBy"></butor-form-input>
            </butor-form-field>
          </th>
          <td cdk-cell *cdkCellDef="let row"> {{row.bookedBy}} </td>
        </ng-container>

        <ng-container cdkColumnDef="totalCost">
          <th cdk-header-cell *cdkHeaderCellDef>
            <butor-form-field label="{{'Cargo.tableHeader.totalCost' | translate}}" cType='filter'>
            </butor-form-field>
          </th>
          <td cdk-cell *cdkCellDef="let row"> {{row.totalCost}} {{row.currency}} </td>
        </ng-container>

        <ng-container cdkColumnDef="arrivedButton">
          <th cdk-header-cell *cdkHeaderCellDef>
          </th>
          <td cdk-cell *cdkCellDef="let row">
            <ng-container *factoryClaims="claimPolicyEnum[31]">
              <button mat-button matRipple class="btn btn-primary u-margin-btn-right"
                (click)="confrimationCargo(row.id)"
                *ngIf="row.statusId === orderedStatusEnum">{{'Cargo.tableHeader.arrived' | translate}}
              </button>
            </ng-container>

          </td>
        </ng-container>

        <ng-container cdkColumnDef="clearFilter">
          <th cdk-header-cell *cdkHeaderCellDef> <a class="btns btns-icon-a" (click)="clearFilter()"><i
                class="icon icon-clear"></i>{{'Cargo.tableHeader.clearFilters' | translate}}</a> </th>
          <td cdk-cell *cdkCellDef="let row">
            <factory-btn-hamburger>
              <ng-container *ngIf="row.statusId===orderedStatusEnum">
                <factory-btn-hamburger-inside *factoryClaims="claimPolicyEnum[31]" textColor="#4D41FF"
                  iconClass="icon icon-edit" buttonText="{{'Storages.details' | translate}}"
                  (click)="arrivedCargo(row.id)"></factory-btn-hamburger-inside>
              </ng-container>
              <factory-btn-hamburger-inside *factoryClaims="claimPolicyEnum[32]" textColor="#FF4141"
                iconClass="icon icon-delete" buttonText="{{'Storages.delete' | translate}}"
                (click)="deleteButton(row.id)"></factory-btn-hamburger-inside>
            </factory-btn-hamburger>
          </td>
        </ng-container>

        <tr cdk-header-row
          *cdkHeaderRowDef="['cargoId', 'status','created', 'supplier', 'bookedBy', 'totalCost', 'arrivedButton', 'clearFilter'];sticky:true;">
        </tr>

        <tr cdk-row
          *cdkRowDef="let row; columns: ['cargoId', 'status','created', 'supplier', 'bookedBy', 'totalCost', 'arrivedButton', 'clearFilter']"
          (click)="arrivedCargo(row.id)">
        </tr>

      </table>

      <mat-paginator [hidePageSize]="true" [length]="dataSource.totalCount" [pageSize]="dataSource.pageSize"
        [pageIndex]="dataSource.pageIndex"
        [ngStyle]="{'display': (!hasError &&  dataSource.items.length  > 0) ? 'block' : 'none' }" #paginator>
      </mat-paginator>


      <div *ngIf="!isLoading && hasError" class="no-data-row">{{ error }}</div>
      <div *ngIf="!isLoading && !hasError && dataSource.items.length === 0" class="no-data-row">
        {{'Cargo.NoRecords' | translate}}</div>
    </form>

  </perfect-scrollbar>
</div>