.document-buttons-container{
    display: flex;
    justify-content: flex-end;
    padding: 2rem 0rem;
}

i{
    font-size: 2rem;
    padding-right: 1.2rem;
}

.file-type{
    font-size: 3rem;
    padding-right: 2rem;
    color: #4D41FF;
}

.documnet-version-type{
    display: flex;
    color: #B8B3FF;
    font-size: 1.5rem;
    padding: 1rem 2rem;
}

button{
    margin-right: 2rem;
}

.mat-expansion-panel-header {
    padding-top: 0 !important;
    padding-bottom: 1rem !important;
}

.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]):hover{
    background-color: white;
}

.mat-expansion-panel-header-title {
    font-size: 1.5rem;
    font-weight: 600;
    width: 20%;
    padding:.5rem 0;
    white-space: nowrap;
}

.mat-expansion-panel-header-description{
    display: inline;
    margin-right: 3.5rem;
    width: 80%;
}

.mat-expansion-panel{
    border-radius: 0px !important;
}

.document-status{
    font-size: 1rem;
    font-weight: 600;
    padding: 3px 10px;
    border-radius: 1rem;
    border: .1rem solid #4D41FF;
    color: #4D41FF;
    display: inline-block;
    margin-right: 1rem;
}

.document-file-counter{
    font-size: 1.3rem;
    color: black;
}

.document-row{
    display: flex;
    background-color: #F8F8F8;
    border-bottom: 2px solid rgba(184, 179, 255, 0.24);
    padding: 15px 0px 15px 25px;
    align-items: center;
}

:host /deep/ .mat-expansion-panel-body{
    padding: 0 !important;
}

.document-date{
    width: 20%;
    font-size: 1.3rem;
}

.document-status-container{
    width: 20%;
}

.documnet-item-container{
    width: 60%;
    font-weight: 600;
    font-size: 1.3rem;

    .document-file-container{
        display: flex;
        padding: 1rem 0;
    }
}

img{
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.item-options {
    display: flex;
    justify-content: flex-end;
}