:host /deep/ .table-standard tbody tr{
    cursor: default;
}

:host /deep/ .table-standard thead tr th:nth-child(6) {
    .form-group.filter .form-label {
        white-space: normal;
    }
}

:host /deep/ .table-standard thead tr th:nth-child(5) {
    .form-group.filter .form-label {
        white-space: normal;
    }
}