<form [formGroup]="passwordForm">
  <butor-form-field label="{{'newPassword.current' | translate}}">
    <butor-form-input formControlName="currentPassword" name="currentPassword" type="password"></butor-form-input>
  </butor-form-field>
  <div *ngIf="submitted && f.currentPassword.errors" class="input-error">
    <div *ngIf="f.currentPassword.errors.required">{{'newPassword.errorMessages.required' | translate}}</div>
  </div>
  <butor-form-field label="{{'newPassword.new' | translate}}">
    <butor-form-input formControlName="newPassword1" name="newPassword1" type="password"></butor-form-input>
  </butor-form-field>
  <div *ngIf="submitted && f.newPassword1.errors" class="input-error">
    <div *ngIf="f.newPassword1.errors.pattern">{{'login.error.password' | translate}}</div>
  </div>
  <butor-form-field label="{{'newPassword.again' | translate}}">
    <butor-form-input formControlName="newPassword2" name="newPassword2" type="password"></butor-form-input>
    <div *ngIf="submitted && f.newPassword2.errors" class="input-error">
      <div *ngIf="f.newPassword2.errors.pattern">{{'login.error.password' | translate}}</div>
    </div>
    <div *ngIf="submitted" class="input-error">
      <div *ngIf="f.newPassword2.value !== f.newPassword1.value">{{'login.error.passwordMatch' | translate}}</div>
    </div>
  </butor-form-field>
  <div class="d-flex justify-content-end u-margin-top button-wrapper">
    <button class="btn btn-text-only u-margin-btn-right" mat-button matRipple type="button"
      (click)="cancel()">{{'newPassword.buttons.cancel' | translate}}</button>
    <button class="btn btn-primary" mat-button matRipple (click)="onSubmit()">{{'newPassword.buttons.save' | translate}}</button>
  </div>
</form>