.idea/
.vscode/
LayoutPlanning/LayoutPlanningCP/x64
LayoutPlanning/LayoutPlanningCP/.vs
LayoutPlanning/LayoutPlanningCP/LayoutPlanningCP/logs/*
LayoutPlanning/LayoutPlanningCP/LayoutPlanningCP/layouts/*
LayoutPlanning/LayoutPlanningCP/LayoutPlanningCP/output/*
JobScheduling/.vs
JobScheduling/x64
JobScheduling/logs
JobScheduling/results/*.json
JobScheduling/results/*.html
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*/__pycache__
/LayoutPlanning/LayoutPlanningCP/LayoutPlanningCP/.vs
/LayoutPlanning/.vs
