<div class="order-header-container">
    <div class="d-flex justify-content-between">
        <h3>{{dataSource[0].orderName | translate}}</h3>        
        <div class="d-flex justify-content-between mr-20">
            <button mat-button class="btn btn-border mr-20" (click)="backTo()">{{'Orders.orderDetails.buttons.cancel' | translate}}</button>
            <button mat-button class="btn btn-primary" (click)="openEditOrder()"  *butorClaims="claimPolicyEnum[claimPolicyEnum.UpdateOrders]">{{'Orders.orderDetails.buttons.editOrder' | translate}}</button>
        </div>
    </div>
</div>
<table cdk-table [dataSource]="dataSource" class="table-standard">

    <ng-container cdkColumnDef="orderId">
        <th cdk-header-cell *cdkHeaderCellDef>
            <butor-form-field label="{{'Orders.tableHeader.orderName' | translate}}">
            </butor-form-field>
        </th>
        <td cdk-cell *cdkCellDef="let row">
            {{row.orderName}}
        </td>
    </ng-container>

    <ng-container cdkColumnDef="currentStatus">
        <th cdk-header-cell *cdkHeaderCellDef>
            <butor-form-field label="{{'Orders.tableHeader.currentStatus' | translate}}">
            </butor-form-field>
        </th>
        <td cdk-cell *cdkCellDef="let row">
            <span class="order-status">{{row.currentStatus}}</span>
        </td>
    </ng-container>

    <ng-container cdkColumnDef="statusDeadline">
        <th cdk-header-cell *cdkHeaderCellDef>
            <butor-form-field label="{{'Orders.tableHeader.statusDeadline' | translate}}">
            </butor-form-field>
        </th>
        <td cdk-cell *cdkCellDef="let row">
            {{row.statusDeadline | date:'y.MM.dd'}}
        </td>
    </ng-container>

    <ng-container cdkColumnDef="responsible">
        <th cdk-header-cell *cdkHeaderCellDef>
            <butor-form-field label="{{'Orders.tableHeader.responsible' | translate}}">
            </butor-form-field>
        </th>
        <td cdk-cell *cdkCellDef="let row">
            {{row.responsible}}
        </td>
    </ng-container>

    <ng-container cdkColumnDef="customer">
        <th cdk-header-cell *cdkHeaderCellDef>
            <butor-form-field label="{{'Orders.tableHeader.customer' | translate}}">
            </butor-form-field>
        </th>
        <td cdk-cell *cdkCellDef="let row">
            {{row.customer}}
        </td>
    </ng-container>

    <ng-container cdkColumnDef="sales">
        <th cdk-header-cell *cdkHeaderCellDef>
            <butor-form-field label="{{'Orders.tableHeader.sales' | translate}}">
            </butor-form-field>
        </th>
        <td cdk-cell *cdkCellDef="let row">
            {{row.sales}}
        </td>
    </ng-container>

    <ng-container cdkColumnDef="createdOn">
        <th cdk-header-cell *cdkHeaderCellDef>
            <butor-form-field label="{{'Orders.tableHeader.createdOn' | translate}}">
            </butor-form-field>
        </th>
        <td cdk-cell *cdkCellDef="let row">
            {{row.createdOn | date:'y.MM.dd'}}
        </td>
    </ng-container>

    <ng-container cdkColumnDef="deadline">
        <th cdk-header-cell *cdkHeaderCellDef>
            <butor-form-field label="{{'Orders.tableHeader.deadline' | translate}}">
            </butor-form-field>
        </th>
        <td cdk-cell *cdkCellDef="let row">
            {{row.deadline | date:'y.MM.dd'}}
        </td>
    </ng-container>

    <tr cdk-header-row
        *cdkHeaderRowDef="['orderId', 'currentStatus', 'statusDeadline', 'responsible', 'customer','sales', 'createdOn', 'deadline'];sticky:true;">
    </tr>

    <tr cdk-row
        *cdkRowDef="let row; columns: ['orderId', 'currentStatus', 'statusDeadline', 'responsible', 'customer','sales', 'createdOn', 'deadline']">
    </tr>

</table>